/*Heading*/

button:focus {
  outline:0;
}

.back-ground{
  background-color: #242523;
}
.heading {
    width: 100vw;
    height: 11vh;
    background-color: #393D3B;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 3px #C1A96D;
}
.button-box {
    width: 33.3vw;
    height: 100vh;
    display: inline-flex;

}

.icon {
    width: 30vw;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.icon button{
  background-color: #393D3B;
  border: none;

}
.iocn:active{
  border: none;
}
.icon button:hover{
  background-color: #C1A96D;

}

.icon img {
    width: 5vw;
    height: 8vh;
}
.heading-title {
    width: 33.3%;
    height: 100%;

}
#title {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5px;
    color: #2AA48B;
}
.score-box {
    width: 33.3%;
    height: 100%;
    background-color: #393D3B;
    font-size: 30px;
    text-align: center;
    padding-top: 17px;
}
.score-color{
  color: #000000;
}

#X-score{
  color:#F8F1DB;
}
#O-score{
  color: #F8F1DB;
}

/*End of Heading*/


/*Beginning of Game Area*/

.game-area {
    height: 90vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    width: 25vw;
    height: 27vh;
    background-color: #2C796F;
    position: relative;
}
.arrow {
    width: 30px;
    height: 30px;
}
.menu {
    float: right;
    background-color: #2C796F;
    border: none;
}
.menu-choice {
    /*height: 75%;*/

    position: absolute;
    bottom: 0px;
    right: 5px;
    display: none;
}

.menu-choice h6{
  font-size: 1em;
}
.menu-choice button{
  font-size: 30px;
  background-color: #2C796F;
  border: none;
  margin-left: 15px;

}
.menu:hover {
    background-color: #C1A96D;
}
.pick{
  height: 75vh;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.X-pick{
  text-align: center;
  font-size: 10rem;



}
.O-pick{
  text-align: center;
  font-size: 10rem;


}

/*Winner Box*/

.winner{
  width: 50%;
  height: 40vh;
  top: 230px;
  left: 300px;
  position: absolute;
  z-index: 10;
  background-color: #393D3B;
  display: none;
}

.winner h2 {
  padding-top: 30px;
  font-size: 50px;
  text-align: center;
}
.quit{
  position: absolute;
  right: 140px;
  top: 125px;
}
.play-again{
  position: absolute;
  left: 100px;
  top: 125px;
}
.game-button{
  font-size: 30px;
  background-color:#393D3B;
  color: #C1A96D;
  border: none;
}
.game-button:hover{
  background-color: #2C796F;
}
